body{
	background:#f4f4f4;
	color:555;
	font-family: 'Crimson Text', serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}
.container h1{
	font-weight:200;
}
.container h1 span{
	font-weight:800;
}
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}
.container a:hover {
	background: magenta;
}
.container a:active {
	background: blue;
}
.container a {
	text-decoration: none;
	text-decoration-color: black;
}
#main-header{
	min-height: 10px;
	color:#fff;
	background-image:url(../images/lemn.jpg);
}
#navbar {
	background-color: #333;
	color:#fff;
	}
}
#navbar ul{
	padding:0;
	list-style:none;
}
#navbar li{
	display:inline;
}
#navbar a{
	color:#fff;
	text-decoration:none;
	font-size:18px;
	padding-right:15px;
}
#showcase{
	background-image:url(../images/showcase.jpg);
	background-position:center right;
	min-height: 10px;
	margin-bottom:30px;
	text-align: center;
}
#showcase h1{
	color:#fff;
	font-size:42px;
	line-height:1.6em;
	padding-top:30px;
}
#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing:border-box;
}
#sidebar{
	float:right;
	width:30%;
	background:#333;
	color:#fff;
	padding:10px;
	box-sizing:border-box;
}
#main-footer{
	background:#333;
	color:#fff;
	text-align: center;
	padding: 5px;
	margin-top: 10px;
	height: 40px;
}
@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
	}
